button {
    margin-top: 20px; /* Margen superior para el botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    border-radius: 5px; /* Añadir borde redondeado al botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  }